@{
    Page.Title = "Home Page";
    Layout = "./_Layout.cshtml";
}

<h1>My Home Page</h1>
<p>Tell me your name.</p>
<form>
    <label>Name: </label>
    <input type="text" name="YourName" />
    <input type="submit" value="Submit" />
</form>