<nav>
    <ul>
        <li><a href="~/Default.cshtml">Home Page</a></li>
        <li><a href="~/FormDemos/CreateBankAccount.cshtml">Create Bank Account</a></li>
        <li><a href="~/Sandbox.cshtml">Sandbox</a></li>
    </ul>
</nav>