@{
    Page.Title = "HTML 5 Form Elements";
    Layout = "~/_Layout.cshtml";
}

<div>
    <h1>@Page.Title</h1>

    <form>
        <details>
            <summary>Simple Text Input</summary>
            <p>Use this form to request a new web account. Identify any additional resources, such as FTP access, databases, https, etc.</p>
            <fieldset>
                <label>User Name</label>
                <input type="text" name="userName" />
                <label>Password</label>
                <input type="password" name="password" />
                <label>Additional Account Requirements</label>
                <textarea rows="5" cols="80"></textarea>
            </fieldset>
            <input type="submit" value="Register" />
        </details>
    </form>

    <form>
        <details>
            <summary>Interesting Form Input</summary>
            <p>Give me some contact information. Also, tell me how many times a day you want me to contact you.</p>
            <fieldset>
                <label>Contact Email</label>
                <input type="email" name="contactEmail" />
                <label>Your Website</label>
                <input type="url" name="website" />
                <label>Your Phone Number</label>
                <input type="tel" name="phoneNumber" />
                <label>Max Telemarketer Calls Per Day</label>
                <input type="number" name="quantity" />
            </fieldset>
            <input type="submit" value="Submit" />
        </details>
    </form>
    <form>
        <details>
            <summary>Date and Time</summary>
            <p>Enter in some date and time information.</p>
            <fieldset>
                <label>DateTime</label>
                <input type="datetime" name="dateWithTime" />
                <label>DateTime-Local</label>
                <input type="datetime-local" name="localDateWithTime" />
                <label>Date</label>
                <input type="date" name="dateOnly" />
                <label>Month</label>
                <input type="month" name="monthOnly" />
                <label>Time</label>
                <input type="time" name="timeOnly" />
            </fieldset>
            <input type="submit" value="Submit" />
        </details>
    </form>
    <form>
        <details>
            <summary>Additional Form Elements</summary>
            <p>Here are an assortment of additional form elements.</p>
            <fieldset>
                <label>Checkboxes - Pick your favorite ice-cream flavors</label>
                <div>
                    <input type="checkbox" name="flavor" /> Vanilla
                    <input type="checkbox" name="flavor" /> Chocolate
                    <input type="checkbox" name="flavor" /> Rocky Road
                </div>
                <label>Radio Buttons - Rate this example</label>
                <div>
                    <input type="radio" name="rating" /> 1 &nbsp;&nbsp;
                    <input type="radio" name="rating" /> 2 &nbsp;&nbsp;
                    <input type="radio" name="rating" /> 3 &nbsp;&nbsp;
                    <input type="radio" name="rating" /> 4 &nbsp;&nbsp;
                    <input type="radio" name="rating" /> 5
                </div>
                <label>Drop Down - Highest level of schooling achieved</label>
                <select name="schooling">
                    <option value="basic">High School</option>
                    <option value="diploma">College Diploma</option>
                    <option value="degree">Degree</option>
                </select>
                <label>Range Slider - Thermostat</label>
                <input type="range" name="temperature" min="15" max="25" />
                <label>File Upload</label>
                <input type="file" name="labsubmission" />
            </fieldset>
            <input type="submit" value="Submit" />
        </details>
    </form>
</div>
