@{
    Page.Title = "Sandbox for playing with Bootstrap";
    Layout = "~/_LayoutBootstrap.cshtml";
}

<div class="jumbotron">
    <h1>Sandbox for Bootstrap</h1>
</div>

<div class="col-sm-4">
    <h3>Features</h3>
    <p>Built with Zen coding: <code>.col-sm-4*3>h3+p>lorem</code></p>
    <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
</div>
<div class="col-sm-4">
    <h3>Why Us?</h3>
    <p>Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.</p>
</div>
<div class="col-sm-4">
    <h3>Coding for Fun and Profit</h3>
    <p>Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.</p>
</div>
