<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li class="navbar-brand"><i class="fa fa-fort-awesome"></i> Chinook Sample</li>
        <li><a href="~/Default.cshtml">Home Page</a></li>
        <li><a href="~/DemoForms/SearchArtists.cshtml">Search Artists</a></li>
        <li><a href="~/DemoForms/ManageCustomers.cshtml">Manage Customers</a></li>
    </ul>
</nav>
