@{
    Page.Title = "More Razor Demos";
    Layout = "~/_Layout.cshtml";
}

<div class="col-md-12">
    <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
</div>


@section head {
<style type="text/css">
    .navbar-inverse .navbar-brand {
        color: #ff6a00;
    }
</style>
}
@section pageSubTitle {
    Uses the Chinook Database
}
@section pageNotes {

}
