@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";
}

<div>
    
</div>

@section head {

}
@section pageSubTitle {

}
@section pageNotes {
<h5>Add/Edit Customer</h5>
<p>
    On this page, support both the Adding of new customers and the Editing of existing customers. Work on the assumption that if a Customer ID is not supplied to this page, then the user's intent is to add a new customer. This page should include full validation (client-side and server-side).
</p>
}
