@{
    Page.Title = "";
    Layout = "~/_Layout.cshtml";
}

<div class="col-md-12">

</div>


@section head {

}
@section pageSubTitle {

}
@section pageNotes {
<h5>SQL Statements</h5>
<pre><code></code></pre>
}
