@{
    Page.Title = "Search Results";
    Layout = "~/_Layout.cshtml";
    var artistId = Request["aid"];
}

<div class="col-md-12">
    <h3>Searching Albums for Artist ID: @artistId</h3>
</div>


@section head {

}
@section pageSubTitle {
<i class="fa fa-music"></i> Albums by Artist
}
@section pageNotes {
<h5>SQL Statements</h5>
<pre><code>SELECT A.ArtistId, A.Name, Alb.AlbumId, Alb.Title
FROM Artist A
INNER JOIN Album Alb ON A.ArtistId = Alb.ArtistId
WHERE A.ArtistId = @@0</code></pre>
}
